<!DOCTYPE html>
<html>

<head>
    <title>Categories Sidebar Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="resume-template-cat">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 col-sm-5 col-xs-12 no-padding">
                    <div class="tabs-wrap">
                        <h3 class="heading">Categories</h3>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <li><a href="#accounting" data-toggle="tab">Accounting & Finance</a></li>
                            <li class="active"><a href="#construction" data-toggle="tab">Construction</a></li>
                            <li><a href="#creative" data-toggle="tab">Creative & Cultural Fields</a></li>
                            <li><a href="#education" data-toggle="tab">Education & Learning</a></li>
                            <li><a href="#teaching" data-toggle="tab">Teaching & Learning</a></li>
                            <li><a href="#engineering" data-toggle="tab">Engineering & Scientific</a></li>
                            <li><a href="#food" data-toggle="tab">Food Service</a></li>
                            <li><a href="#hospitality" data-toggle="tab">Hospitality Travel & Transportation</a></li>
                            <li><a href="#information" data-toggle="tab">Information Technology (IT)</a></li>
                            <li><a href="#law-enforcement" data-toggle="tab">Law Enforcement & Emergency Services</a></li>
                            <li><a href="#legal" data-toggle="tab">Legal Services</a></li>
                            <li><a href="#maintenance" data-toggle="tab">Maintenance & Repair</a></li>
                            <li><a href="#management" data-toggle="tab">Management & Leadership</a></li>
                            <li><a href="#media" data-toggle="tab">Media and Entertainment</a></li>
                            <li><a href="#manufacturing" data-toggle="tab">Manufacturing & Warehousing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12 no-padding bg-white right">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="accounting">
                            <h4 class="sec-heading">Construction Resume Examples</h4>
                            <p>You’re a builder, and writing a resume is just something that gets in the way. Craft your own resume with our step-by-step guides that’ll wow recruiters and get you back to the building site.</p>
                            <div class="list">
                                <ul>
                                    <li>Architecture </li>
                                    <li>Forklift Operator</li>
                                    <li>CNC Machinist</li>
                                    <li>General Labor</li>
                                    <li>Construction</li>
                                    <li>HVAC</li>
                                    <li>Construction Manager</li>
                                    <li>Machinist</li>
                                    <li>Construction Project Manager</li>
                                    <li>Maintenance</li>
                                    <li> Construction Superintendent</li>
                                    <li>Welder</li>
                                    <li>Contractor</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="construction">
                            <h4 class="sec-heading">Construction</h4>
                        </div>
                        <div class="tab-pane" id="creative">
                            <h4 class="sec-heading">Creative & Cultural Fields</h4>
                        </div>
                        <div class="tab-pane" id="education">
                            <h4 class="sec-heading">Education & Learning</h4>
                        </div>
                        <div class="tab-pane" id="teaching">
                            <h4 class="sec-heading">Teaching & Learning</h4>
                        </div>
                        <div class="tab-pane" id="engineering">
                            <h4 class="sec-heading">Engineering & Scientific</h4>
                        </div>
                        <div class="tab-pane" id="food">
                            <h4 class="sec-heading">Food Service</h4>
                        </div>
                        <div class="tab-pane" id="hospitality">
                            <h4 class="sec-heading">Hospitality Travel & Transportation</h4>
                        </div>
                        <div class="tab-pane" id="information">
                            <h4 class="sec-heading">Information Technology (IT)</h4>
                        </div>
                        <div class="tab-pane" id="legal">
                            <h4 class="sec-heading">Legal Services</h4>
                        </div>
                        <div class="tab-pane" id="maintenance">
                            <h4 class="sec-heading">Maintenance & Repair</h4>
                        </div>
                        <div class="tab-pane" id="media">
                            <h4 class="sec-heading">Media and Entertainment</h4>
                        </div>
                        <div class="tab-pane" id="manufacturing">
                            <h4 class="sec-heading">Manufacturing & Warehousing</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>


</html>