<!DOCTYPE html>
<html>

<head>
    <title>Resumod</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.getsetresumes.com/css/bootstrap.2efcf62447fc5e8b43dc.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="resume-template-page">
        <section class="bg-blue">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Accounting Resume:</h1>
                        <h1>Examples for an Accountant</h1>
                        <div style="height: 35px"></div>
                        <h4>Description</h4>
                        <p>We write research driven, analytically optimized and ATS responsive Resumes, CVs, Online Professional Profiles including LinkedIn, Executive Briefs, and Application Letters to help you win that Interview Call with ease. We partner
                            with you and support you till you secure your dream job. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Loreum Ipsum</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="img-wrap">
                            <img src="resume.png" class="img-fluid">
                            <img src="resume.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-blue">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-wrap">
                            <h3 class="title">Description</h3>
                            <p>We write research driven, analytically optimized and ATS responsive Resumes, CVs, Online Professional Profiles including LinkedIn, Executive Briefs, and Application Letters to help you win that Interview Call with ease. We
                                partner with you and support you till you secure your dream job. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                                in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="text-wrap mb-0">
                            <h3 class="title">Tags</h3>
                            <p>Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags,
                                Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags,
                                Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags,
                                Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags, Tags,</p>
                            <a href="#" class="btn btn-primary">Loreum Ipsum</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>