<!DOCTYPE html>
<html>

<head>
    <title>
        Witty
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/witty-logo.png" type="image/x-icon">
    <link rel="icon" href="assets/images/witty-logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d17dd9fe1a.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand " href="index.html">
                    <img src="assets/images/witty-logo.png" class="img-fluid ">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div id="toggle"></div>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link active " aria-current="page " href="index.html">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="#products">Products</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="#community">Community</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="#about">About</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="#team">Team</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="#faqs">FAQs</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="#contact">Contact Us</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="docs/WITTY Project White Paper.pdf" target="_blank">Whitepaper</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="docs/WITTY Presentation Powerpoint.pptx" target="_blank">Download</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <section class="slider" data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="carouselExampleDark" class="carousel carousel-dark carousel-fade slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <div class="row wrap-reverse align-center">
                                    <div class="col-md-6">
                                        <h5>We are the Most Secure Way to Buy and Sell Cryptocurrency</h5>
                                        <a href="#" class="btn btn-primary">JOIN OUR VIBRANT COMMUNITY NOW! </a>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="assets/images/banner1.png" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="10000">
                                <div class="row wrap-reverse align-center">
                                    <div class="col-md-6">
                                        <h5>We are leveraging the Blockchain Technology in building products in a Permissionless and Trustless Environment</h5>
                                        <a href="#" class="btn btn-primary">JOIN OUR VIBRANT COMMUNITY NOW! </a>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="assets/images/banner2.png" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="10000">
                                <div class="row wrap-reverse align-center">
                                    <div class="col-md-6">
                                        <h5>Our Vision is to onboard Africa into the Crypto Space one step at a time</h5>
                                        <a href="#" class="btn btn-primary">JOIN OUR VIBRANT COMMUNITY NOW! </a>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="assets/images/banner3.png" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products" id="products" data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row">
                <h2 class="sec-heading">Products</h2>
                <p class="subheading">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.
                </p>
            </div>
            <div class="row justify-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="icon">
                            <img src="assets/images/1.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <a href="https://p2p.wittytech.io" target="_blank">
                                <h3>Non-Custodial P2P Exchange</h3>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="icon">
                            <img src="assets/images/2.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <a href="https://staking.wittytech.io" target="_blank">
                                <h3>Staking</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="icon">
                            <img src="assets/images/3.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <a>
                                <h3>Crypto Remittance </h3>
                                <p>Coming soon</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="icon">
                            <img src="assets/images/4.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <a href="https://trade.wittytech.io" target="_blank">
                                <h3>Automated Crypto Trading System</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="icon">
                            <img src="assets/images/5.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <a>
                                <h3>Lending </h3>
                                <p>Coming soon</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="icon">
                            <img src="assets/images/6.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <a>
                                <h3>Crypto Payment Gateway </h3>
                                <p>Coming soon</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="icon">
                            <img src="assets/images/2.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <a>
                                <h3>WITTY Fund</h3>
                                <p>Coming soon</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="why-choose" data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="sec-heading">Why Choose to Use the WITTY Platform</h2>
                    <p class="subheading">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6">
                    <div class="wrap">
                        <div class="icon">
                            <img src="assets/images/service-1.png" class="img-fluid">
                        </div>
                        <h4>Non-Custodial/Decentralized</h4>
                        <p>We never hold your Digital Assets, we rather let you have full control of your Digital Assets. With our platform, there’s no central point of failure.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="wrap">
                        <div class="icon">
                            <img src="assets/images/service-2.png" class="img-fluid">
                        </div>
                        <h4>Permissionless & Trustless</h4>
                        <p>Our platform is protocol-driven; it’s largely powered by Smart Contracts. This means there’s very little to no room for human errors.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="wrap">
                        <div class="icon">
                            <img src="assets/images/service-3.png" class="img-fluid">
                        </div>
                        <h4>Enhanced Security</h4>
                        <p>The security architecture of our system is better since we don’t centralize the Digital Assets of our users. Each user holds their own Digital Assets in a third party Non-Custodial wallets where you hold your Private Keys.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="wrap">
                        <div class="icon">
                            <img src="assets/images/service-4.png" class="img-fluid">
                        </div>
                        <h4>User Friendly Products</h4>
                        <p>Our products are user-friendly and our interfaces are clean and very easy to navigate.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="wrap">
                        <div class="icon">
                            <img src="assets/images/service-5.png" class="img-fluid">
                        </div>
                        <h4>Non-Custodial/Decentralized</h4>
                        <p>We never hold your Digital Assets, we rather let you have full control of your Digital Assets. With our platform, there’s no central point of failure.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="wrap">
                        <div class="icon">
                            <img src="assets/images/service-6.png" class="img-fluid">
                        </div>
                        <h4>Active Tribe</h4>
                        <p>You’ll be part of an active Tribe of people who are genuinely interested in you and your progress</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="community" id="community" data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="wrap">
                        <p>WITTY Club is the Community arm of the WITTY Project. We believe that building a Tribe or Movement around our project will help to deliver on our Vision.
                        </p>
                        <p>
                            WITTY Club not on facilitates people who are looking to leverage the Blockchain Technology but also provides an environment where meaningful connections and alliances can be forged by people of similar interests.
                        </p>
                        <a href="#" class="btn btn-primary">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about" id="about" data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h3 class="sec-heading">About</h3>
                    <p class="subheading">WITTY is a fully indigenous African Blockchain FinTech Provider built on the Binance Smart Chain focused on developing Products & Services with the aim of creating a Value Chain in the Decentralized Finance Ecosystem [ DeFi ].</p>
                </div>
            </div>
            <div class="row justify-center">
                <div class="col-lg-10 col-md-12">
                    <div class="row wrap-reverse ">
                        <div class="col-md-6">
                            <div class="wrap">
                                <h3 class="col-heading">Our Vision </h3>
                                <p>Playing the Major Role in Breaking the Third World Fence by Leveraging Permissionless and Trustless Technologies. </p>
                            </div>
                            <div class="wrap">
                                <h3 class="col-heading">Our Creed </h3>
                                <p>Nigeria is our Springboard, Africa is our Platform, the World is our Stage. </p>
                            </div>
                            <div class="wrap">
                                <h3 class="col-heading">Our Tagline </h3>
                                <p>Business Beyond Borders.</p>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <img src="assets/images/service-7.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team" id="team" data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="sec-heading">Meet our Management Team</h2>
                    <p class="subheading">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="image">
                            <img src="assets/images/Dan-Ewah.jfif" class="img-fluid">
                        </div>
                        <div class="info">
                            <h4 class="name">Dan Ewah </h4>
                            <p class="designation">Cofounder/CEO </p>
                        </div>
                        <a href="http://www.linkedin.com/in/danewah/" target="_blank">
                            <div class="profile-link">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="image">
                            <img src="assets/images/Arinze-John.jfif" class="img-fluid">
                        </div>
                        <div class="info">
                            <h4 class="name">Arinze John </h4>
                            <p class="designation">Cofounder/COO </p>
                        </div>
                        <a href="http://www.linkedin.com/in/arinze-john/" target="_blank">
                            <div class="profile-link">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="image">
                            <img src="assets/images/Jatin-Goyal.PNG" class="img-fluid">
                        </div>
                        <div class="info">
                            <h4 class="name">Jatin Goyal </h4>
                            <p class="designation">CTO</p>
                        </div>
                        <a href="" target="_blank">
                            <div class="profile-link">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="image">
                            <img src="assets/images/Linda-Lessle.jfif" class="img-fluid">
                        </div>
                        <div class="info">
                            <h4 class="name">Linda Lessle </h4>
                            <p class="designation">CFO</p>
                        </div>
                        <a href="" target="_blank">
                            <div class="profile-link">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faqs" id="faqs" data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="sec-heading">
                        FAQs
                    </h2>
                </div>
            </div>
            <div class="row justify-center">
                <div class="col-lg-7">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How Can I Be Part of WITTY?
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We are very conscious about the Passive Income attribute of our platform, so we encourage every prospect to sign up with the link of the person who referred them to us.</p>
                                    <p>The starting point is to become a member of WITTY Club which is FREE, that’s the community arm of our project where you’d see lots of Videos explaining our different products.</p>
                                    <p>Your sponsor will also be your first point of call in case you need help along the way.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Can A Newbie Use your Products?
                            </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Our products are newbie-friendly.</p>
                                    <p> We also have a closely knit community where Sponsors, Members and Facilitators are on hand to answer questions and provide clarifications to grey areas.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can I Get Personalized Help if Need Be?
                            </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Yes, we have a team of Facilitators who can guide you if you need such level of assistance.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How Do I Register?
                            </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>You’ll need to register through your sponsor or whoever introduced you here. You are advised to always register through your sponsor, so they can help you get started smoothly.</p>
                                    <p>If you found us through our Advertising or Search Engine, you can register through the WITTY Club page.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What is Unique About your Platform?
                            </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Our platform is decentralized, we pride ourselves in being Permissionless and Trustless. That means at no point would we be in possession of your Digital Assets.</p>
                                    <p>Cryptocurrency is about Decentralization and we take that seriously, our platform puts you in charge of your Digital Assets, so you don’t need to trust us.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact" data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="sec-heading">
                        Contact
                    </h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <h5>
                            WITTY Corporate Headquarters
                        </h5>
                        <p>Suite 305</p>
                        <p>Griffith Corporate Centre Beachmont</p>
                        <p>Box 1510 Kingstown,</p>
                        <p>St. Vincent and the Grenadines.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        Email: info@wittytech.io
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <p>Telegram: https://t.me/WittyClubOfficial</p>
                        <p>Facebook: https://facebook.com/groups/marketingonfire</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Disclaimer </a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="copyright">&copy; Copyright All Rights Reserved - 2021</p>
                </div>
            </div>
        </div>
    </footer>


    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js "></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/script.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>