* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4faff;
    overflow: hidden;
}
.earth {
    position: relative;
    width: 400px;
    height: 400px;
    background: #0588e4 url(earth.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgb(0 0 0 / 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    animation: animate 12s linear infinite;
}
.earth img {
    max-width: 100px;
    height: auto;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    pointer-events: none;
}
.earth::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('cloud.png');
    background-size: cover;
    overflow: hidden;
    z-index: inherit;
    animation: animate 18s linear infinite;
}
.earth:active{
    transform: scale(5);
}
.earth:active img {
   transform: scale(0.2);
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }    
    100% {
        background-position: 719px 0;
    }
}