@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #0D1117;
  color: #fff;
  overflow-x: hidden;
}

p {
  font-size: 17px;
  line-height: 29px;
  font-weight: 300;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-right {
  text-align: right;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fc8240;
}

.ml-auto {
  margin-left: auto;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.fixed-top {
  background-color: #0d1117;
  padding: 15px 0px;
  border-bottom: 1px solid #ffffff0d;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("../images/right-arrow.png");
}

.carousel-control-prev {
  left: -150px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.carousel-control-next {
  right: -150px;
}

.sec-heading {
  color: #3fbf82;
  color: #fc8240;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.sec-heading::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 10%;
  background-color: #fc8240;
  height: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.subheading {
  max-width: 700px;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
}

.col-heading {
  color: #4ae69c;
}

.text-green {
  color: var(--primary-color);
}

.text-orange {
  color: #fc8240;
}

.btn-primary {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e93b1f), to(#fc8240));
  background-image: linear-gradient(to bottom, #e93b1f, #fc8240);
  border: 0;
  min-width: 150px;
  min-height: 49px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

.btn-primary:hover {
  background-color: #3fbf82;
  background-image: none;
}

header {
  padding: 10px 0;
  border-bottom: 1px solid #ffffff0d;
}

header .navbar-brand {
  margin-right: 30px;
}

header .navbar-brand img {
  max-height: 30px;
  width: auto;
}

header .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
}

header .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header #toggle {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header #toggle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1.5px;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-box-shadow: 0 10px 0 #ffffff;
  box-shadow: 0 10px 0 #ffffff;
}

header #toggle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 1.5px;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

header #toggle.active::before {
  -webkit-transform: translateY(0px) rotate(45deg);
  transform: translateY(0px) rotate(45deg);
  -webkit-box-shadow: 0 0px 0 #fff;
  box-shadow: 0 0px 0 #fff;
}

header #toggle.active::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
  transform: translateY(0px) rotate(-45deg);
}

.slider {
  padding-top: 150px;
  padding-bottom: 60px;
}

.slider h5 {
  color: white;
  font-size: 54px;
  font-weight: 700;
  max-width: 500px;
  line-height: 65px;
}

.slider img {
  max-height: 500px;
  margin: auto;
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products .card {
  text-align: center;
  background-color: #ffffff08;
  padding: 40px 20px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 20px auto;
  max-width: 280px;
  border-bottom: 2px solid transparent;
}

.products .card .content {
  min-height: 100px;
}

.products .card h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
}

.products .card img {
  height: 60px;
  margin-bottom: 30px;
}

.products .card p {
  color: #3fbf82;
}

.products .card:hover {
  background-color: #000;
  border-bottom-color: #fc8240;
}

.why-choose {
  padding-top: 60px;
  padding-bottom: 60px;
}

.why-choose .wrap {
  margin-bottom: 50px;
  padding-left: 130px;
  position: relative;
}

.why-choose .wrap .icon {
  position: absolute;
  left: 32px;
}

.why-choose .wrap .icon img {
  width: 64px;
}

.why-choose .wrap h4 {
  font-size: 24px;
  color: #3fbf82;
  margin-bottom: 10px;
  max-width: 200px;
  line-height: 30px;
}

.why-choose .wrap p {
  max-width: 250px;
}

.why-choose .wrap:hover h4 {
  color: #fc8240;
}

.community {
  background-image: url(../images/banner-test.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.community p {
  max-width: 1150px;
  margin: auto;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 30px;
  border-radius: 30px;
  text-align: center;
  color: #4ae69c;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about .subheading {
  max-width: 700px;
  margin: auto;
  margin-bottom: 60px;
}

.about .wrap {
  max-width: 500px;
  margin-bottom: 50px;
  border-bottom: 1px solid #282828;
}

.about img {
  max-height: 400px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team .card {
  background-color: #ffffff0a;
  text-align: center;
  border: 0;
  margin-bottom: 30px;
  position: relative;
}

.team .card .info {
  padding: 20px 0;
}

.team .card .info .name {
  font-size: 23px;
  font-weight: 400;
}

.team .card .info .designation {
  margin-bottom: 0;
}

.team .card .profile-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  opacity: 0;
  visibility: hidden;
}

.team .card .profile-link i {
  color: #fff;
}

.team .card:hover .profile-link {
  opacity: 1;
  visibility: visible;
}

.faqs {
  padding-top: 60px;
  padding-bottom: 60px;
}

.faqs .accordion-item {
  background-color: #fff0;
  margin-bottom: 30px;
}

.faqs .accordion-button {
  background-color: #e7f1ff05;
  color: #fff;
}

.accordion-button::after {
  background-image: url(../images/arrow.svg) !important;
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact .card {
  background-color: #fff0;
  border: 1px solid #595959;
  padding: 30px 30px 15px;
  max-width: 380px;
  margin: auto;
  min-height: 259px;
  margin-bottom: 30px;
}

.contact .card:hover {
  border-color: #fc8240;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul li {
  margin: 10px 20px;
  border-right: 1px solid #5f5f5f;
  padding-right: 30px;
  font-size: 19px;
}

footer ul li:last-child {
  border-right: 0;
}

footer .copyright {
  color: #ffffff57;
  text-align: center;
  font-size: 15px;
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ffffff1a;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: #fc8240;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

@media (max-width: 991px) {
  .slider h5 {
    font-size: 30px;
    line-height: 45px;
  }
  .why-choose .wrap {
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .slider {
    text-align: center;
  }
  .slider img {
    margin-bottom: 40px;
  }
  .slider h5 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  .contact .card {
    min-height: auto;
  }
  footer ul li {
    border-right: 0;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
}

@media (max-width: 580px) {
  .why-choose .wrap {
    padding-left: inherit;
  }
  .why-choose .wrap .icon {
    left: 0;
    position: relative;
    margin-bottom: 20px;
  }
  .why-choose .wrap h4,
  .why-choose .wrap p {
    max-width: initial;
  }
}
/*# sourceMappingURL=style.css.map */