@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
    font-family: 'Roboto', sans-serif;
}

.prod-cards {
    margin: 50px auto;
    .wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px
    }
    .card {
        width: 100%;
        background-color: #fff;
        position: relative;
        .imgBox {
            position: relative;
            width: 100%;
            height: 300px;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s ease-in-out;
                transform-origin: center;
            }
        }
        &:hover .imgBox img {
            transform: scale(1.5);
        }
        .content {
            padding: 10px;
            .name {
                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    color: #000;
                    margin: 5px 0 10px;
                }
            }
            .price-rating {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .price {
                    font-size: 18px;
                    color: #ff4159;
                    font-weight: 500;
                    margin: 0;
                }
                i {
                    color: #ffd513;
                    cursor: pointer;
                    font-size: 12px;
                    &.grey {
                        color: #ccc;
                    }
                }
            }
        }
        .action {
            position: absolute;
            top: 10px;
            right: 10px;
            li {
                position: relative;
                list-style-type: none;
                width: 40px;
                height: 40px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 4px;
                cursor: pointer;
                transform: translateX(60px);
                transition: transform 0.5s;
                span {
                    position: absolute;
                    right: 45px;
                    top: 50%;
                    transform: translateY(-50%) translateX(-20px);
                    white-space: nowrap;
                    padding: 4px 10px;
                    background-color: #fff;
                    color: #333;
                    font-weight: 500;
                    font-size: 12px;
                    border-radius: 4px;
                    pointer-events: none;
                    width: fit-content;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.5s;
                }
                &:hover {
                    background-color: #ff4159;
                    color: #fff;
                    span {
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(-50%) translateX(0px);
                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: -4px;
                            width: 8px;
                            height: 8px;
                            background-color: #fff;
                            transform: translateY(-50%) rotate(45deg);
                        }
                    }
                }
                &:nth-child(2) {
                    transition-delay: 0.15s;
                }
                &:nth-child(3) {
                    transition-delay: 0.30s;
                }
            }
        }
        &:hover .action li {
            transform: translateX(0px);
        }
    }
}