@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eaeaea;
}

.container {
    background: #fff;
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px;
}

.card {
    margin: 20px;
    background-color: #fff;
}

.card .title {
    background-color: #0066ff;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.card .title h1 {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    transition: 0.5s;
    line-height: 30px;
}

.card .text {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-top: 0px;
}

.card.active .text {
    height: auto;
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.card .text div {
    padding: 15px 20px;
    font-size: 14px;
}

.card p {
    line-height: 1.7;
}

.card .title::before {
    content: '\f078';
    position: absolute;
    font-family: fontAwesome;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 11px;
}

.card.active .title::before {
    content: '\f077';
}