@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
p {
    line-height: 2.0;
}
h1 {
    margin-bottom: 1rem;
}
.container {
    max-width: 1200px;
    margin: 40px auto;
}
.wrap {
    padding: 40px;
}
img {
    max-width: 400px;
    height: auto;
}
.img1 {
    float: left;
    shape-outside: url(img1.png);
    shape-margin: 30px;
}
.img2 {
    float: right;
    shape-outside: url(img2.png);
    shape-margin: 30px;
}
@media (max-width: 480px) {
    .img1, .img2 {
        float: none;
    }
}