@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a {
    position: relative;
    width: 160px;
    height: 50px;
    margin: 15px 10px;
    background: #6E4FF6;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
a span{
    color: #fff;
    font-size: 17px;
    position: absolute;
    z-index: 1;
    transition: all 0.5s;
}
a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    background: #FF416C;
    height: 100%;
    transition: 0.5s;
}
a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    background: #FF416C;
    height: 100%;
    transition: 0.5s;
}
a:nth-child(2)::before,
a:nth-child(2)::after {
    background: #0082c8;
}
a:hover::before,
a:hover::after {
    width: 50%;
}

a span:nth-child(1) {
    transition-delay: 0.75s;    
}
a:hover span:nth-child(1) {
    transform: scale(0);
    transition-delay: 0s;
}
a span:nth-child(2) {
    transform: scale(3);
    opacity: 0;
    color: #fff;
    transition-delay: 0s;
}
a:hover span:nth-child(2){
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.5s;
    z-index: 10;
}


