html {
    font-size: 62.50%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f5fa;
    font-size: 1.4rem;
    line-height: 2.4rem;
    position: relative;
    color: #262b33;
    font-weight: 400;
}

.viewer {
    max-width: 900px;
    margin: 0 auto;
}

.viewer .topbar {
    text-align: center;
    padding: 1rem 0;
}

.viewer .main-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 20px 60px 0 rgb(186 200 227 / 10%), 0 16px 36px 0 rgb(186 200 227 / 30%);
    background-color: #fff;
    padding: 4rem;
}

.viewer .main-header {
    margin-bottom: 3rem;
}

.viewer .name {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.viewer .main-heading {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 9px;
    margin-bottom: 3rem;
    position: relative;
}

.viewer .main-heading::after {
    content: '';
    height: 3px;
    background-color: black;
    width: 20%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.viewer hr {
    border-top: 0.15rem solid #cacaca;
}

.viewer .sub-heading {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2.5rem 0 0.5rem;
}

.viewer .text-wrapper {
    margin: 4rem 0;
}

.viewer .text-wrapper .heading {
    font-size: 1.6rem;
    font-weight: 600;
    width: 80%;
    line-height: 2.0rem;
}

.viewer .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewer .header p {
    margin-bottom: 0;
}

.viewer small {
    font-size: 14px;
}

.viewer .text-wrapper .content {
    margin: 1rem 0 2.5rem;
}

.progress {
    margin: 1rem auto 2.5rem;
    padding: 0;
    width: 100%;
    height: 5px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 0px;
}

.skill p {
    font-weight: 500;
    line-height: 2rem;
}

.progress .bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #000;
}

.viewer .left-sec {
    position: relative;
    padding-right: 3rem;
}

.viewer .right-sec {
    padding-left: 4rem;
}

.viewer .left-sec::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #cacaca;
    width: 0.12rem;
}

.viewer .ref .details {
    margin-top: 1rem;
}

.viewer .ref .details p {
    margin-bottom: 0;
}

.viewer .page-demo {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 20px 60px 0 rgb(186 200 227 / 10%), 0 16px 36px 0 rgb(186 200 227 / 30%);
    background-color: #fff;
    padding: 4rem;
    min-height: 1000px;
    margin: 3.5rem 0;
}