@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0D1117;
}
.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgb(0,0,0,0.25);
    transition: 1s;
}
.card:hover {
    transform: translateX(50%);
}
.card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #000;
    transition: 1s;
    box-shadow: 10px 20px 40px rgb(0,0,0,0.25);
}
.card:hover .imgBox {
    transform: rotateY(-180deg);
}
.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card .imgBox img:nth-child(2) {
    transform: rotateY(180deg);
} 
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.card .details .content h2 span {
    color: #ff4159;
    font-size: 0.8em;
}
.card .details .content .social-icons {
    margin-top: 30px;
}
.card .details .content .social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #333;
    color: #fff;
    display: inline-grid;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.card .details .content .social-icons a:hover {
    background: #ff4159;
}
@media (max-width: 600px) {
    .card:hover {
        transform: translateX(0%);
    }
    .card {
        overflow-x: auto;
    }
}
