@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    background-color: #ececec;
}
.container {
    max-width: 1400px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
}
.container .card {
    width: 300px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}
.container .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filter-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filter-btn-wrap .list {
    margin: 20px 10px;
    list-style-type: none;
    background-color: #e3e4e8;
    padding: 12px 25px;
    box-shadow: 1px 2px 0px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.filter-btn-wrap .list.active {
    background-color: #353c44;
    color: #fff;
}
.card .imgBox, .card .contentBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .contentBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0D1117;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
.card:hover .contentBox::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}
.card .contentBox .content {
    color: #fff;
    z-index: 1;
    padding: 40px;
    transform: translateX(-320px);
    transition: 0.5s;
    transition-delay: 0s;
}
.card:hover .contentBox .content {
    transform: translateX(0px);
    transition-delay: 0.5s;
}

.card p {
    line-height: 1.7;
    font-weight: 400;
}
.card h2 {
    margin-bottom: 10px;
    font-weight: 500;
}
.card.active {
    display: block;
}
.card.hide {
    display: none;
}
