@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 400px;
    position: relative;
    margin: 20px 15px;
    background-color: #3f3f3f;
    padding: 40px 20px;
    transition: 0.5s ease-in-out;
}
.card::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border: 20px solid transparent;
    border-top: 20px solid #17e78c;
    border-right: 20px solid #17e78c;
}
.card.active::before {
    border-top-color: #ff3b7e;
    border-right-color: #ff3b7e;
}

.card .imageBox img {
    position: relative;
    max-height: 80px;
    width: auto;
    margin-bottom: 20px;
}

.card .text h3 {
    margin-bottom: 10px;
}
.card p {
    line-height: 1.7;
}

.card .btn {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #17e78c;
    padding: 10px;
    background: #17e78c;
    margin-top: 30px;
    min-width: 104px;
}
.card .btn:hover {
    border-color: #17e78c;
    color: #fff;
    background-color: transparent;
}
.card .btn::before {
    content: 'Read More';
}
.card.active .btn::before {
    content: 'Read Less';
}
.card.active .btn {
    background-color: #ff3b7e;
    border-color: #ff3b7e;
    color: #fff;
}
.card p {
    color: #ccc;
}
.card h3 {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}
.card .text {
    height: 195px;
    overflow: hidden;
    position: relative;
}
.card.active .text {
    height: auto;
  
}
.card .text::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
    width: 100%;
    left: 0;
}
.card.active .text::before {
    display: none;
}
@media (max-width: 991px) {
    .wrap {
        flex-wrap: wrap;
    }
}