@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: #0D1117;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}
p {
    line-height: 2.0;
    color: #fff;
    font-size: 18px;
    text-align: justify;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c6ff);
}