@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: #fff;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

p {
    line-height: 2.0;
    color: #000;
    font-size: 18px;
    text-align: justify;
}

.line {
    background: #04AA6D;
    height: 8px;
    border-radius: 4px;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
}